
@{
    ViewBag.Title = "Addids24Hours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Addids in 24 Hours</h2>

<div class="container">
    <img src="~/Content/images/addis.png"/>
    <p style="font-size:18px; width:80%; padding:2% 0%; text-align:justify; ">
        Must grab a coffee
        Follow the locals’ lead and kick off your day at one of the capital’s excellent coffee shops, putting some pep in your step with a caffè macchiato or two.

        Top picks include Café Choché adjoining the city’s former train station, La Gare, which also serves up a select menu of treats such as Belgian waffles with melted chocolate in its courtyard garden. Another solid option is the expanding To.mo.ca chain whose original outlet on Wavel St, dating from the 1950s, is a local institution.
    </p>
    <img src="~/Content/images/injera.png" />
    <p style="font-size:18px; width:80%; padding:2% 0%; text-align:justify; ">
        When it comes to trying Ethiopian food one word stands out over any other — injera. This spongy, slightly sour tasting flatbread, made of teff flour, makes a showing at most meals, typically accompanied by a hearty choice of ‘wat’ (stew) and/or tibs — small piles of sautéed meat or veg. Simply tear off a section of the rolled out injera and scoop up the goodies.

        Good bets for local fare such as injera include the branches of Kategna Restaurant. If you get a taste for it you can even order it at breakfast where the popular dish ‘fir fir’ — a dish of chopped up rolls of injera fried in stew and served up on a rolled out injera — is guaranteed to keep you fuelled up until lunchtime.
    </p>
    <img ethiopianAirlines />
    <p style="font-size:18px; width:80%; padding:2% 0%; text-align:justify; ">
        FLY: Ethiopian Airlines flies daily from London Heathrow to Addis Ababa, increasing to 10 times a week during summer (June 2 to October 27, 2018). Prices for the flight, which takes seven hours 35 minutes, start from £580 return in Economy and £1,840 in Business, including all taxes, fees and charges.

        Passengers who fly internationally with Ethiopian are entitled to a discount of approximately 75% on the base fare for domestic flights. If you have already booked your international flight you can only obtain the discounted price through the airline’s call centre or at its sales offices. If starting a new booking then the discount will apply online if all the flights are booked together.

        With Transit Visas available on arrival the city also makes a logical stopover.



    </p>
</div>
